// Define variables for your color scheme

// For example:
$red: #FF3D3C;
$blue: #0D6EFD;
$yellow: #FFC65A;

$orange: #FF7143;
$green: #17A398;
$gray: #EAEBEE;

$bordeaux: #5C0F1C;
$brown: #9F3919;
$black: #00171F;
$salmon: #FFEEE8;
$dark-blue: #263B54;
$light-green: #EFFCF7;
$light-pink: #FFF5F5;
$light-gray: #EAE9F2;
