// Define variables for your color scheme

// For example:
$red: #FF3D3C;
$blue: #0D6EFD;
$yellow: #FFC65A;

$orange: #FF7143;
$light-orange: #f78e6c;
$green: #17A398;
$light-green: #4ac2b8;
$gray: #EAEBEE;

$bordeaux: #5C0F1C;
$brown: #9F3919;
$black: #00171F;
$salmon: #FFEEE8;
$dark-blue: #263B54;
$white-green: #EFFCF7;
$light-pink: #FFF5F5;
$light-gray: #EAE9F2;
$very-light-grey: #F8F8F8;
$grey-writing:#696870;


// status colors
$yellow-tag: #ffc900; // received
$red-tag: #FF3C3C; // declined
$purple-tag: purple;// created
$blue-tag: #008eff;//sent + validated
$orange-tag: #f97100//follow_uped + payment-in-process
