// Specific CSS for your home-page

.banner-logo {
  display: flex;
}

#logo {
    text-align: left;
    margin-bottom: 30px;
    position: absolute;
    top: 40px;
    margin-top: 0px;
    left: 300px;
  }

.btn-login {
  position: absolute;
  top: 20px;
  right: 80px;
}
 .banner-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
 }

.btn-signup {
  color: white;
}

.btn-signup:hover {
  color: $orange;
}

.btn-demo:hover {
  background: $light-orange;
}

.btn-trial:hover {
  background-color: white;
  color: black;

}

.banner-left-block {
  margin-top: 50px;
}
.title {
  display: flex;
}

.apart-title {
  background-color: #FFFFFF;
  color: $bordeaux;
}

.btn-demo {
  background-color: $orange;
  font-size: 21px;
  border: none;
}

.btn-trial {
  background-color: $bordeaux;
  color: white;
  border-color: white;
  margin-left: 40px;
  font-size: 21px;
}

.image-main {
  height: 460px;
  // align-self: self-end;
}

.three-cards {

  h1 {

    margin-bottom: 100px;
    font-weight: bold;
    font-size: 47px;

  }

  text-align: center;
  color: black;
  padding: 100px 0px;
  background-color: #FFEEE8;
}

.d-flex {
  justify-content: space-evenly;
  text-align: center;
}

.text-little-card {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.07) 78.65%);
    color: black;
    border-radius: 5px;
    width: 390px;

    p {
      font-size: 22px;
    }

    h4 {
    font-weight: 1000;
    margin-bottom: 40px;
  }
}

.icons {
  height: 90px;
  margin-bottom: 15px;
}

.subscription {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  background-color: #FFFFFF;
  padding: 100px 0px;
}

.title-year{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 540px;
    h1 {
      font-weight: 800;
  }
}

.subscriptions-period {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 470px;

}
.btn-yearly {
  color: white;
  background-color: $bordeaux;
  margin-left: 100px;
}

.btn-monthly {
  color: black;
  background-color: #F7F7FB;
}

.btn-monthly:hover {
  color: black;
  }

.div-option-card {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.option-card {
    background: $very-light-grey;
    color: $grey-writing;;
    border-radius: 5px;
    width: 330px;
    height: 500px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;

  h2 {
    margin-bottom: 40px;
    font-weight: 800;
    color: black;
  }

  p {
    text-align: center;
    padding: 5px;
    margin-top: 15px;
  }

  ul {
    font-size: 13px;
    list-style-type: none;
  }

  .option-card-details{
    height: 100%;
  }
}

  .option-card-two {
    background-color: $orange;
    color: #FFFFFF;
    border-radius: 5px;
    width: 330px;
    height: 500px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 32px;
    position: relative;
    bottom: 20px;

    h2 {
    margin-bottom: 40px;
    font-weight: 600;
    color: black;
  }

  p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  ul {
    font-size: 13px;
    list-style-type: none;
  }

  .option-card-details{
    height: 100%;
  }
}

  .list-subscription {
    font-size: 16px;
    padding-left: inherit;
    li {
    margin-bottom: 7px;
    // padding-left: 10px;
    padding-left: 5px;
    }
  }

  .btn-brown {
    background-color: $brown;
    color: white;
    border: none;
  }

  .btn-started {
    background-color: white;
    color: $bordeaux;
    border: 1px $light-gray;
  }

  .btn-started:hover {
    background-color: $brown;
  }

// .btn-subscribe {
//   display: flex;
//   align-items: flex-end;
//   align-content: flex-end;
// }
// .btn-large {
//   margin-left: 55px;
// }
