// Specific CSS for your home-page

.banner-logo {
  display: flex;
}

#logo {
    text-align: left;
    margin-bottom: 30px;
    position: absolute;
    top: 20px;
    margin-top: 0px;
    left: 16px;
  }

.btn-login {
  position: absolute;
  top: 20px;
  right: 80px;
}
 .banner-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
 }

.btn-signup {
  color: white;
}

.btn-signup:hover {
  color: $gray;
}

.title {
  display: flex;
}

.apart-title {
  background-color: #FFFFFF;
  color: $bordeaux;
}

.btn-demo {
  background-color: $orange;
  font-size: 21px;
}

.btn-trial {
  background-color: $bordeaux;
  color: white;
  border-color: #FFFFFF;
  margin-left: 40px;
  font-size: 21px;
}

.image-main {
  height: 390px;
  align-self: self-end;
}

.three-cards {

  h1 {

    margin-bottom: 100px;
    font-weight: bold;
    font-size: 47px;

  }

  text-align: center;
  color: black;
  padding: 100px 0px;
  background-color: #FFEEE8;
}

.d-flex {
  justify-content: space-evenly;
  text-align: center;
}

.text-little-card {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.07) 78.65%);
    color: black;
    border-radius: 5px;
    width: 390px;

    p {
      font-size: 22px;
    }

    h4 {
    font-weight: 1000;
    margin-bottom: 40px;
  }
}

.icons {
  height: 90px;
  margin-bottom: 15px;
}

.subscription {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  background-color: #FFFFFF;
  padding: 100px 0px;
}

.title-year{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
}
.btn-yearly {
  color: white;
  background-color: $bordeaux;
  margin-left: 100px;
}

.btn-monthly {
  color: black;
  background-color: #F7F7FB;
}
.div-option-card {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.option-card {

    background: linear-gradient(180deg,rgba(214, 200, 200, 0.697),rgba(179, 133, 133, 0.56) 78.65%);
    color: #02110f;
    border-radius: 5px;
    width: 270px;
    height: 500px;
    padding: 25px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  ul {
    font-size: 13px;
  }

  .option-card-details{
    height: 100%;
  }
}

// .btn-subscribe {
//   display: flex;
//   align-items: flex-end;
//   align-content: flex-end;
// }
.btn-large {

  margin-left: 55px;
}
