.invoice-form {
  padding: 4px;
  display: block;
  display: inline-block;
  margin-top: 5%;
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
  text-align: left;
}

.h1-form {
  text-align: center;
  margin-top: 5%;
}
