.invoice-form {
  padding: 4px;
  display: block;
  display: inline-block;
  margin-top: 10vh;
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
  text-align: left;
}

.h2-form {
  text-align: center;
  padding-top: 5%;
}

.a-form {
  color: grey  ;
}

.a-form:hover {
  color: black;
}
