<h1>Ta liste de factures</h1>


<%# Barre latterale de rech %>

<%= render 'shared/side_bar.html.erb' %>

<%# liste de toutes les factures %>

<br>
<br>

<div>
  <ul>
    <% @invoices.each do |invoice| %>
      <% if policy(invoice).index? %>
        <%= render 'shared/big_card_invoice', {invoice: invoice} %>
      <% end %>
    <% end %>
  </ul>
</div>
