
<div class="d-flex">
  <%# Barre latterale de rech %>
  <%= render 'shared/side_bar.html.erb' %>

  <%# liste de toutes les factures %>

  <div>
    <h1>Factures <%= @type %></h1>
    <ul>
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <%= render 'shared/big_card_invoice', {invoice: invoice} %>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
