<h1>Ta liste de factures</h1>

<div>

  <div class='d-flex'>
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
    <p>Factures reçues</p>
  </div>

  <div>
   <div  class='d-flex'>
    <%# <i class="fas fa-arrow-alt-circle-down"></i> %>
    <i class="fas fa-thumbtack"></i>
    <p>En attente</p>
   </div>

   <div  class='d-flex'>
    <i class="fas fa-check-circle"></i>
    <p>Validées</p>
   </div>

    <div  class='d-flex'>
    <i class="fas fa-check-circle"></i>
    <p>Refusées</p>
   </div>

  </div>


</div>

<%# Barre latterale de rech %>



<%# liste de toutes les factures %>

<br>
<br>

<div>
  <ul>
    <% @invoices.each do |invoice| %>
      <% if policy(invoice).index? %>
        <%= render 'shared/big_card_invoice', {invoice: invoice} %>
      <% end %>
    <% end %>
  </ul>
</div>
