<h1>Ta liste de factures</h1>


<%# Barre latterale de rech %>



<%# liste de toutes les factures %>

<div>
  <ul>
    <% @invoices.each do |invoice| %>
      <% if policy(invoice).index? %>
        <%= render 'shared/big_card_invoice', {invoice: invoice} %>
      <% end %>
    <% end %>
  </ul>
</div>
