

<div class="card-container">

  <div class="invoice-card">
    <div class="invoice-card-infos">
      <h2> Client : <%= invoice.recipient.name %> </h2>
      <p><strong>Statut : <%= invoice.status %> </strong></p>
      <p>Date : <%= invoice.issue_date %></p>
    </div>

    <div>
      <p> <%= invoice.total_w_tax.round(2) %>€ </p>
    </div>
  </div>

</div>
