<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# <div id="logo-navbar"> %>
      <%# <%= link_to root_path do %>
        <%# <%= image_tag "Billr2.png", class:"logo-size"%>
      <%# <% end %>
    <%# </div> %>
    <div></div>

    <%= render 'shared/avatar' %>
  </div>
</div>
