

<div class='side-bar'>
  <div id="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="index-invoices">

    <div class='index-invoices-title'>
      <h2>Factures <%= @type %></h2>
    </div>

    <div class="invoice-cards">
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <%= link_to (render 'shared/big_card_invoice', {invoice: invoice}), invoice_path(invoice) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
