
<div>

  <div class='d-flex'>
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
    <h3>Factures Entrantes</h3>
  </div>

  <div>
    <div  class='d-flex'>
      <%# <i class="fas fa-arrow-alt-circle-down"></i> %>
      <i class="fas fa-thumbtack"></i>
      <p>En attente</p>
    </div>

    <div  class='d-flex'>
      <i class="fas fa-check-circle"></i>
      <p>Validées</p>
    </div>

    <div  class='d-flex'>
      <i class="fas fa-times-circle"></i>
      <p> Refusées</p>
    </div>

    <div  class='d-flex'>
      <%# <i class="fas fa-hand-holding-usd"></i> %>
      <i class="fas fa-ellipsis-h"></i>
      <p>En attente de paiement</p>
    </div>

    <div  class='d-flex'>
      <i class="fas fa-dollar-sign"></i>
      <p>Payées</p>
    </div>

  </div>

  <div>
    <div class='d-flex'>
      <i class="fas fa-share-square"></i>
      <h3>Factures sortantes</h3>
    </div>

    <div class='d-flex'>
      <i class="fas fa-file-invoice-dollar"></i>
      <p>Créées</p>
    </div>

    <div class='d-flex'>
      <i class="far fa-paper-plane"></i>
      <p>Envoyées</p>
    </div>

    <div class='d-flex'>
      <i class="fas fa-dollar-sign"></i>
      <p>Payées</p>
    </div>

    <div class='d-flex'>
      <i class="far fa-clock"></i>
      <p>En retard de paiement</p>
    </div>



  </div>

</div>
