<div class="container-fluid" style="padding: 10px">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4>Bonjour <%= current_user.first_name.capitalize %> ! Bienvenue sur ton tableau de bord. </h4>
    <a href="invoices/new" class="d-none d-sm-inline-block btn btn-sm btn-flat btn-green shadow-sm"><i
    class="fas fa-download fa-sm text-white-50"></i> Ajouter une facture </a>
  </div>
  <div class="cards" style="padding-top: 15px">
    <div class="card-category">
      <%= pie_chart current_user.company.received_invoices.group(:status).count %>
    </div>
    <div class="card-category">
      <%= pie_chart current_user.company.sent_invoices.group(:status).count %>
    </div>

  </div>
</div>
