<%# banner %>
<div class="banner" >
    <div class="container">
      <h1>Une gestion facilitée de vos factures</h1>
      <p>Un outil 2-en-1. 100% adapté aux besoins de votre entreprise.</p>
      <a class="btn btn-flat" href="#">Démonstration</a>
    </div>
  </div>
</div>
