<%# banner %>
<div class="banner">
<%# logo %>
  <div class="banner-logo">
    <div id="logo">
      <%= image_tag "logo.png" %>
    </div>
<%# log in button %>
  <div class="btn-login">


    <% if current_user %>
      <%= link_to "Accéder à mes factures", received_invoices_path, class: "btn btn-flat"  %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-flat"  %>
    <% end %>

  </div>
  <%# text + demo button %>
  <div class="container">
    <h1>Une gestion facilitée de vos factures</h1>
    <p>100% adapté aux besoins de votre entreprise.</p>
    <a class="btn btn-flat btn-demo" href="#">Démonstration</a>
  </div>
  </div>
</div>

<%# container central %>
<div class="container">
<%# div pour centrer la div homepage-bg-card %>
  <div class="homepage-div-bg-card">
<%# big card with infographics %>
    <div class="homepage-bg-card">
      <div class="homepage-second-title">
        <h1>Un outil formidable de gestion de vos factures</h1>
      </div>

      <div>
        <%= image_tag "https://img.freepik.com/vecteurs-libre/design-plat-etapes-colorees-infographie_52683-16783.jpg?size=626&ext=jpg&ga=GA1.2.862232893.1646226249", class: "infographics" %>
      </div>
    </div>
  </div>
<%# closing tag container central%>
</div>

<%# 3 cards %>
  <div class="three-cards">
    <h2>Un outil performant</h2>

    <div class="d-flex">
      <div class="text-little-card">
        <p>Optimiser la gestion de votre flux de factures entrantes et sortantes</p>
      </div>

      <div class="text-little-card">
        <p>Accélérer votre pré-comptabilité</p>
      </div>

      <div class="text-little-card">
        <p>Fluidifier vos échanges avec votre expert-comptage et faciliter la cloture de vos comptes</p>
      </div>
    </div>
  </div>


<%# Subscription cards %>
<div class="subscription">
  <h2>Choisissez votre formule</h2>

  <div class="div-option-card">
    <div class="option-card">
        <h4>Basique</h4><br>

        <div class="option-card-details">
          <p>1 utilisateur (administrateur)</p><br>

          <ul class="list-subscription">
            <li>Connexion à votre outil d’émission de facture</li>
            <li>Suivi des factures reçues</li>
            <li>Connexion à vos boîtes email de reception de factures</li>
            <li>Suivi des factures émises</li>
            <li>Export des écritures comptables</li>
            <li>Connexion avec votre banque pour l’émission automatique des paiement</li>
            <li>Réconciliation automatisée</li>
          </ul>
        </div>
        <a class="btn btn-flat" href="#">Souscrire</a>

      </div>

    <div class="option-card">
        <h4>Essentielle</h4><br>

        <div class="option-card-details">
          <p>Jusqu'à 5 utilisateurs</p><br>
          <ul class="list-subscription">
            <li>Fonctionnalités de la formule initiale</li>
            <li>Intégration Slack</li>
            <li>Emission des factures sous format factureX</li>
            <li>Respect des obligations légales de digitalisation des factures (facturX) et transmission au Portail Public de Facturation (PPF)</li>
            <li>Archivage légale des factures</li>
          </ul>
        </div>
        <a class="btn btn-flat center-block" href="#">Souscrire</a>
      </div>

      <div class="option-card">
        <h4>Optimale</h4><br>

        <div class="option-card-details">
          <p>Nombre d'utilisateurs illimité</p><br>

          <ul class="list-subscription">
            <li>Fonctionnalités des formules basique et essentielle</li>
            <li>Tableau de bord personnalisé</li>
            <li>Intégration à votre outil de comptabilité</li>
          </ul>
      </div>
          <a class="btn btn-flat" href="#">Souscrire</a>

      </div>

  </div>
</div>
