<%# banner %>
<div class="banner" >
    <div class="container">
      <h1>Une gestion facilitée de vos factures</h1>
      <p>Un outil 2-en-1. 100% adapté aux besoins de votre entreprise.</p>
      <a class="btn btn-flat" href="#">Démonstration</a>
    </div>
  </div>
</div>

<%# container central %>
<div class="container">
<%# div pour centrer la div homepage-bg-card %>
  <div class="homepage-div-bg-card">
<%# big card with infographics %>
    <div class="homepage-bg-card">
      <div class="homepage-second-title">
        <h1>Un outil formidable de gestion de vos factures</h1>
      </div>

      <div>
        <%= image_tag "https://img.freepik.com/vecteurs-libre/design-plat-etapes-colorees-infographie_52683-16783.jpg?size=626&ext=jpg&ga=GA1.2.862232893.1646226249", class: "infographics" %>
      </div>
    </div>
  </div>
<%# closing tag container central%>
</div>

<%# 3 cards %>
  <div class="three-cards">
    <h3>Un outil 3 en 1</h3>

    <div class="d-flex">
      <div class="text-little-card">
        <h4>TEXTE</h4>
      </div>

      <div class="text-little-card">
        <h4>TEXTE</h4>
      </div>

      <div class="text-little-card">
        <h4>TEXTE</h4>
      </div>
    </div>
  </div>


<%# Subscription cards %>
<div class="subscription">
  <h2>Choisissez votre formule</h2>

  <div class="d-flex">
    <div class="option-card">
        <h6>Basique</h6>
        <br>
        <p>bla bla bla</p>

        <ul class="list-subscription">
          <li>bla bla bla</li>
          <li>bla bla bla</li>
          <li>bla bla bla</li>
          <li>bla bla bla</li>
        </ul>

      </div>

    <div class="option-card">
        <h6>Essentielle</h6>
        <p></p>
      </div>

      <div class="option-card">
        <h6>Optimale</h6>
        <p></p>
      </div>
  </div>
</div>
