.card-container{
    flex-grow: 1;

  .invoice-card {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-grow: 1;

    h2 {
      font-size: 18px;
      font-weight: bolder;
      margin: 0;
    }

    h3 {
      font-size: 14px;
      font-weight: bolder;
      margin: 0;
    }
    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
    .invoice-card-infos {
      padding: 0px 16px;
    }
    .invoice-card-price{
      text-align: right ;
      margin-right: 1rem;
    }
  }

}

.invoice-cards{
  a{
    color: black;
    text-decoration: none;
  }

  a:hover{
    color: black;
    font-size: bold;
    font-weight: bold;
  }
}

// Below you can see the style for teh new index table
.table-invoices{
  width: 100%;
  font-size: 0.7rem;

  a{
    color: black;
    text-decoration: none;
  }


  a:hover{
    color: black;
    font-size: bold;
    font-weight: bold;
  }


  .table-header{
    background-color: #F2F3F5;
    height: 2.5rem;
    text-align: center;

    .tb{
      font-size: bolder;
    }
  }

  .table-line{
    background-color: white;
    height: 2.5rem;
    text-align: center;
  }

  .table-row-client{
    width: 25%;
    text-align: left;
    padding-left: 10px;
  }

  .table-row-status{
    text-align: center;
    align-items: center;
    align-content: center;
  }


  .tag{
    border-radius: 2px;
    text-align: center;
    margin: 10px;
    padding: 5px 5px;
    font-size: bold;
    // height: 90%;
    // width: fit-content;
    display: inline-block;
  }
  .paid {
    color: #68E1A3;
    background-color: #F0FCF6;
  }

  .received {
    color: purple;
    background-color: #ffe50026;
  }

  .payment-in-process {
    color: #f97100;
    background-color: #f971001a;
    // color: #263B54;
    // background-color: #E9EBEE;
  }

  .validated {
    color: #008eff;
    background-color: #008eff26;
  }

  .declined{
    color: #FF3C3C;
    background-color: #FFF5F5;
    // color: #263B54;
    // background-color: #E9EBEE;
  }

  .sent{
    color: #008eff;
    background-color: #008eff26;

    // color: #263B54;
    // background-color: #E9EBEE;
  }

  .follow_uped{
    color: #f97100;
    background-color: #f971001a;

    // color: #263B54;
    // background-color: #E9EBEE;
  }

  .created{
   color: purple;
    background-color: #8000801f;
  }

  tr{
    border: 1px solid #F0FCF6;
  }

  tr:hover{
    background-color: #FFF1EC;
  }
}
