.card-container{
    flex-grow: 1;

  .invoice-card {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-grow: 1;

    h2 {
      font-size: 18px;
      font-weight: bolder;
      margin: 0;
    }

    h3 {
      font-size: 14px;
      font-weight: bolder;
      margin: 0;
    }
    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
    .invoice-card-infos {
      padding: 0px 16px;
    }
    .invoice-card-price{
      text-align: right ;
      margin-right: 1rem;
    }
  }

}

.invoice-cards{
  a{
    color: black;
    text-decoration: none;
  }

  a:hover{
    color: black;
    font-size: bold;
    font-weight: bold;
  }
}


.table-invoice{
  width: 100%;
}

.table-header{
  background-color: #F2F3F5;
  font-size: bold;

}

.table-line{
  background-color: white;
}
