.offcanvas {



.tag{
    border-radius: 2px;
    text-align: center;
    // margin: 10px;
    // height: 90%;
    // width: fit-content;
    display: inline-block;
    padding: 2px 2px;
    font-size: smaller;
  }
  .paid {
    color: #006230;
    background-color: #F0FCF6;
  }

  .received {
    color: purple;
    background-color: #ffe50026;
  }

  .payment-in-process {
    color: #f97100;
    background-color: #f971001a;

    // color: #263B54;
    // background-color: #E9EBEE;
  }

  .validated {
    color: #008eff;
    background-color: #008eff26;
  }

  .declined{
    color: #FF3C3C;
    background-color: #FFF5F5;
    // color: #263B54;
    // background-color: #E9EBEE;
  }


  .sent{
    color: #008eff;
    background-color: #008eff26;

    // color: #263B54;
    // background-color: #E9EBEE;
  }

  .follow_uped{
    color: #f97100;
    background-color: #f971001a;

    // color: #263B54;
    // background-color: #E9EBEE;
  }


  .created{
    color: purple;
    background-color: #8000801f;
  }

}

.statut-content {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    padding-left: 1em;
    font-size: 0.9em;
  }
}
