.index-invoices{
    flex-grow: 1;
    padding: 10px;

  .index-invoices-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  a{
    padding-bottom: 0;
    // align-content: center;
    // padding-top: 0;
  }

  h3{
    margin: 0;
    font-size: 1.0rem;
  }

  .invoices-title-details{
    // background-color: white;


    h4{
      font-size: 1rem;
    }
  }


  .search-bar{
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    // margin-bottom: 8px;


    .form-control{
      margin: 0px 2px;
      background-color: white;
      border: none;
      font-size: 1rem;

    }
  }

}
