.index-invoices{
    flex-grow: 1;
    padding: 10px;

  .index-invoices-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  a{
    padding-bottom: 0;
    // align-content: center;
    // padding-top: 0;
  }

  h3{
    margin: 0;
    font-size: 1.5rem;
  }

  .invoices-title-details{
    // background-color: white;


    h4{
      font-size: 1rem;
    }
  }

}
