.navbar-lewagon {
  background: white;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo-navbar {
  margin-bottom: 50px;
  margin-top: 0px;
  margin-left: 320px;
  height: 5px;

}

.logo-size {
  width: 65px;
  margin-top: 11px;
}

.hello-user {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin: 15px;
}
