
.side-bar{
  background-color: #5C0F1C;
  width: 300px;
  padding-left: 20px;
  // padding-top: 50px;
  position: fixed;
  left: 0;
  top: 0;

  h3{
    color: white;
    font-size: 1.3rem;

  }

  p{
    color: white;
    margin-bottom: 0;
    font-size: .75rem;
  }

  i{
    color: white;
  }


  .inv-type{
    display: flex;
    align-items: center;
    // padding-left: 10px;
    justify-content: start;
    margin-top: 8px;
    // margin-bottom: 8px;


    .icon{
      margin-right: 15px;
    }

  }

  .small-box{
    display: flex;
    padding-left: 30px;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.2rem;

    .icon{
      margin-right: 10px;
    }
  }

    a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color: white;
    font-size: bold;
    font-weight: bold;
  }

  img{
    width: 50px;
  }

  #logo{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .search-bar{
    margin-right: 12px;
    // margin-bottom: 8px;
  }
}
